<div class="main">
  <form (submit)="loginUser(loginForm)" #loginForm="ngForm">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput name="username" type="text" ngModel #username="ngModel" required minlength="5" maxlength="20">
    <mat-error *ngIf="username.invalid">Must be between 5 and 20 characters long</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput name="password" type="password" ngModel #password="ngModel" required minlength="10" maxlength="30">
    <mat-error *ngIf="password.invalid">Must be between 10 and 30 characters long</mat-error>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" style="margin-top: 30px;">Create</button>
</form>
</div>

